
  .detail-card {
      /* margin-left: 20%; */
      margin-top: 5%;
      margin-left: 20%;
      margin-top: 3%;
      width: 80%;
  }
  
  .student-box {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
      background-color: white;
      border-radius:10px;
     padding: 30px 30px;
     border-radius:10px;
     width: 90%;
     height: 80%;
     margin-top: 45px;    
  }
  
  .photo {
      width: 150px;
      height: 150px;
  }
  .detail{
      padding-left: 60px;
  }
  .main-content{
      display: flex;
  }
  .student-heading{
      font-weight: 600;
      font-size: 20px;
      width: 118px;
  }
  .student-sub-heading{
      padding-left: 44px;
      font-size: 20px;
  }
  