
  .detail-card {
      justify-content: center;
      margin-left: 20%;
      margin-top: 3%;
      width: 80%;
  }
  
  .student-box {
    display: flex;
      background-color: white;
      border-radius:10px;
      justify-content: space-between;
     padding: 30px 30px;
     border-radius:10px;
     width: 90%;
     height: 80%;
     margin-top: 45px;    
  }
  
  .photo {
      width: 200px;
      height: 200px;
  }
  .detail{
      padding-left: 60px;
  }
  .main-content{
      display: flex;
  }
  .student-heading{
      font-weight: 600;
      font-size: 20px;
      width: 118px;
  }
  .student-sub-heading{
      padding-left: 44px;
      font-size: 20px;
  }
  