.bar {
    margin: 10px;
  
  }
  
  .student {
      display: flex;
      background-color:#f4E8c1;
      height: 100vh;
  }
  
  .sidebar {
      padding: 50px 79px;
      font-size: 18px;
      font-weight:700;
      width: 24%;
      cursor: pointer;
  }
  
  .sidebar div {
      padding-top: 15px;
  }
  
  .detail-card {
      width:80%;
  }
  
  .student-box {
      background-color: white;
      border-radius:10px;
      width: 90%;
      height: 80%;
      margin-top: 45px;
  }
   
  .photo-detail {
      display: flex;
      padding: 44px;
  }
  .photo {
      width: 200px;
      height: 200px;
  }
  .detail{
      padding-left: 60px;
  }
  .main-content{
      display: flex;
  }
  .student-heading{
      font-weight: 600;
      font-size: 22px;
      width: 132px;
  }
  .student-sub-heading{
      padding-left: 44px;
      font-size: 20px;
  }
  