.bar {
    margin: 10px;
  
  }
  
  .student {
      display: flex;
      background-color:#f4E8c1;
      height: 100vh;
  }
  
  .sidebar {
      padding: 50px 79px;
      font-size: 18px;
      font-weight:700;
      width: 24%;
      cursor: pointer;
  }
  
  .sidebar div {
      padding-top: 15px;
  }
  
  .detail-card {
      width:80%;
  }
  
  .student-box {
      background-color: white;
      border-radius:10px;
      width: 90%;
      height: 80%;
      margin-top: 45px;
  }
  
  .profile {
      display: flex;
      justify-content:center;
      
  }
  
  .profile-head {
      font-weight: 600;
  }
  
  .profile-btn {
      width: 170px;
      padding:7px 2px;
      border-radius: 25px;
      font-size: 15px;
      margin: 0px 60px;
  }
  .photo-detail {
      display: flex;
      padding: 44px;
  }
  .photo {
      width: 200px;
      height: 200px;
  }
  .detail{
      padding-left: 60px;
  }
  .main-content{
      display: flex;
  }
  .student-heading{
      font-weight: 600;
      width: 100px;
  }
  .student-sub-heading{
      padding-left: 44px;
  }
  