 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/*.form-group1{
    width: 435px;
    margin-bottom: 15px;
}
.form-login1 h2{    
    margin-top: 190px ;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
.form-login1{
    margin-left: -20px;
}
.btn2{
    background-color: #4070f4;
    border-radius: 10px;
    font-size: 18px;
}
.btn-group{
    color: white; 
  padding: 0 24px 0 24px; 
  cursor: pointer; 
  font-size: 20px;
  display: flex;
  justify-content: space-between;
}
#left-btn{
    margin-left: -34px;
}
#box{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:beige;
}
.container2{
    position: relative;
    max-width: 490px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
    height: 640px;
}

.container2 .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container2 .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container2.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container2 .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container2.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container2.active .forms{
    height: 600px;
}
.container2 .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}
.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}
.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
} */




#sr1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
   
    background-color: aliceblue;
}
#sr2{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 32%;
    align-self: center;
    margin-top: 3%;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 5px 10px gray;
}
.form_input{
    position:relative;
    display: flex;
    align-items: baseline;
    padding: 0 10px;
    margin-right: 12px;
}

.form_input input{
    position: relative;
  
    width: 100%;
    font: inherit;
    padding: 1rem 0;
    margin-top: .5rem;
    border: none;
    outline: none;
}
.form_input .bar{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    width: 100%;
    height: 1px;
}
.form_input .bar::before{
    content: "";
    position: absolute;
    background-color: #265df2;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

.form_input>input:focus+.bar::before{
    transform: scaleX(1);
}

.srbt{
    margin: auto;
    margin-top: 1rem;
    padding: .5rem 2.5rem;
    background-color: #265df2;
    color: #fff;
    font: inherit;
    border: .5rem solid #fff;
    outline: none;
    cursor: pointer;
    border-radius: 3rem;
}

.srcenter{
    text-align: center;
 }

 .srpd{
    padding: 5px 0;
}
.srfont{
    font-size: 18px;
}
#sridcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}