
 .Alumni-meet-wrapper{
        margin-top: 80px;
        text-align: center;
        padding-top:  30px;
        padding-bottom: 30px;
}

.alumni-header{
        
        text-align: center;
        color: rgb(16, 16, 91);
        font-weight: 600;
        font-size: 39px;       
}



.jayant_sir{
        text-align: center;
        margin-top: 260px ;
        width: 500px;
        height: 550px;
        padding: 10px;
        border-radius: 15px;
        background-color: rgb(245, 254, 255);
        box-shadow: 0px 2px 3px 4px gray;
}

.jayant_sir img{
        width: 400px;
        height: 300px;
        border-radius: 10px;
        margin-top:20px;
        margin-bottom: 20px;
}
 
.panel-heading{
       
        text-align: justify;
        font-size: 25px;
        font-weight: 525;
        font-family: Arial, Helvetica, sans-serif;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
       
}

.panel-detail{
        margin-top: 10px;
        text-align: justify;
        font-size: 20px;
        font-weight: 100;
        color:#666666;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        
}

    .alumni-card:hover{
        box-shadow: 0px 12px 16px 0px lightblue;
    }
  
    .caption{
        font-size: 14px;
        font-style: italic;
        letter-spacing: 0.5px;
        color: #6e6e7a;
        margin: 10px;
        text-align: left;
    } 

    .wrapper-19{
        display: flex;
        justify-content: space-around;
        flex-wrap:wrap;
    }
    .container{
       height: 280px ;
    }
    .alumni-header1{
        margin-top: 150px;
        text-align: center;
        color: rgb(16, 16, 91);
        font-weight: 600;
        font-size: 39px; 
    }
    .alumni-header2{
        margin-top: 500px;
        text-align: center;
        color: rgb(16, 16, 91);
        font-weight: 600;
        font-size: 39px; 
    }
    .alumni-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 28%;
        background-color:#dadef1 ;
        padding:  40px 30px ;
        border-radius: 20px;
        transition: box-shadow 0.3s;
        box-shadow: 0px 5px 5px 5px rgb(202, 199, 199);
        margin-bottom: 30px;
    }

    .alumni-card img {
        text-align: center;
        width: 90%;
        padding-bottom: 18px;
        border-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    @media (max-width:1000px) {
        .wrapper-19{
                flex-direction: column;
        }
        .alumni-card{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
        }
        .jayant_sir{
                margin-top: 10%;
                width: 80%;
        }
        .panel-detail{
                width: 80%;
        }
        .panel-heading{
                width: 80%;
        }
        .jayant_sir img{
                width: 80%;
        }
        .alumni-header{
                font-weight: 400;
                font-size: 20px;
        }
    }
 










