#contact h4{
    color: white;
 }

 #contact p{
  color: white;
 }
 footer{
   font-family: sans-serif;
   background-color: rgb(8, 8, 81);
   bottom: 0;
   left: 0;
   right: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 85px; 
   padding: 30px; 
  
 }
 #contact{
   padding-left: 34px;
   padding-bottom: 34px;
   width:23%;
 }
 #email{
   color: white;
   padding-right:50px;
   }


@media(max-width:900px){

  footer{
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    justify-content: space-between;
    margin-top: 25px;
    padding: 30px;
  }
  #contact{
   text-align: justify;
   padding-left: 2px;
    width:95%;
  }
  #email{
    text-align: justify;
    padding-right:50px;
    } 

}

