#contact h4{
    color: white;
 }

 #contact p{
  color: white;
 }
 footer{
   font-family: sans-serif;
   
   background-color: rgb(8, 8, 81);
   bottom: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   margin-top: 25px;
   padding: 30px;
 }
 #contact{
   padding-left: 34px;
   padding-bottom: 34px;
   width:23%;
 }
 #email{
   color: white;
   padding-right:50px;
   }
