body {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.heading{
    margin-top: 3%;
    font-weight:bold;
    font-family:'Poppins', sans-serif ;
}
.underline{
    width:50px;
    border: 1px solid rgb(234, 161, 14);
    background-color: orange;
    margin:5px auto ;
    border-radius: 2px ;
    margin-bottom: 4%;
}
.card1,
.card2,
.card3,
.card4,
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11 {
    width: 300px;
    border: 1px solid gainsboro;
    padding: 40px 50px ;
    text-align: right;
    display: flex;
    margin:5px 10px 10px 5px;
 border-radius: 5px;
 box-shadow: 2px 3px 3px 2px grey;
}

.row {
    display: flex; 
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.branch-names{
    font-weight: bold;
}
.card-Info{
    padding-left: 25px;
    text-align: left;
}

.vertical-line {
    color: gainsboro;
}
.management-card{
    margin-right: 30px;
    box-shadow:0px 5px 30px 0px gainsboro;
    text-align: center;
    width: 32%;

}
.card-img-top{
    height: 200px;
    width: 200px;
    margin:20px auto;
    border-radius: 50%;
}
.card-text{
    color: orange;   
}
.management-name{
    color:white;
}
.card-body{
    background-color:rgb(8, 8, 81) ;
}
#management-container{
display: flex;
padding: 0% 10%;
width: 100%;
}
@media screen and (max-width: 1023px) {
 .row{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
   justify-content: center;
   box-sizing: border-box;
 }
 #management-container{
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
 }
 .management-card{
    /* width: 200px; */
    margin-bottom: 30px;
 }
}

@media screen and (max-width:780px){
    #management-container{
        display: block;
     justify-content: center;
    } 
}