

nav{
    height: 70px;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 150px;
     background-color: white; 
     font-family: 'Merriweather', serif ;
     z-index: 1;
}
nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    padding-top: 18px;
}
nav ul li{
    font-size: 20px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    text-decoration: none;    
}
.link{
    color:black;
    text-decoration: none;
}
.active{
    color:rgb(23, 53, 247);
}
.dropdown-menu li {
    padding: 0px;
   
}

.dropdown-menu li button {
    font-size: 20px;
}
#screen-visible-div{
    display: none;
    height: 110px;
    width: 100%;
    background-color: rgb(16, 16, 99);
   
}

#menuicon{
    color:white;
    cursor: pointer;
}
 
.offcanvas-body ul li {
    margin-bottom: 30px;
    font-size: 20px;
    
}

@media(max-width:1023px) {
    nav{
        display: none;
    }
    #screen-visible-div{
        height: 110px;
        display: block;
       display: flex;
      
       width: 100vw;
        padding-left: 30px;
        padding-right: 30px;
        
    }
    #screen-visible-div img {
       
        width: 380px;
        height: 70px ;
        text-align: center;  
        margin-top: 20px;
        vertical-align: middle;
        margin-left: 150px;
        margin-right: auto; 
       
        
    }
}
@media(max-width:767px){
    #screen-visible-div{
        display: flex;
       
        align-items: center;
        padding: 10px;
        
    }
    #screen-visible-div img {
        max-width: 800px;
        width: 300px;
        height: 80px ;
        margin-left: 15px;
        padding-right: 15px;
        padding: 10px;
        margin-top: 8px;
    }
    #menuicon{
        color:white;
        margin-top:15px;
        margin-left: 10px;
    }
   
}
 