
nav{
    height: 70px;
    background-color: aliceblue;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
}
ul{
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
li{
    font-size: 20px;
   padding: 16px;
}
.dropdown-menu li {
    padding: 0px;
   
}

.dropdown-menu li button {
    font-size: 20px;
}
#dropdownmenu2{
    border: none;
}

@media(max-width:900px) {
    nav{
        display: none;
    }
}