nav{
   display: flex;
   justify-content: space-between;
   height: 110px;
   background-color: rgb(19, 19, 150);
   padding: 20px;
   align-items: center;
}
#tgpcetlogo{
height: 110px;
width: 600px;
}
#naaclogo{
height: 110px;
width: 130px;
}