

header{
    height: 90px;
    background-color: rgb(10, 10, 102);
    padding: 8px;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
 }
 img{
    height: 80px;
    width: 495px;
 }
